*.qpf linguist-language=Altera Quartus II
*.qdz linguist-language=Altera Quartus II
*.vho linguist-language=Altera Quartus II
*.jdi linguist-language=Altera Quartus II
*.vwf linguist-language=Altera Quartus II
*.qip linguist-language=Altera Quartus II
*.bsf linguist-language=Altera Quartus II
*.bdf linguist-language=Altera Quartus II
*.regmap linguist-language=Altera Quartus II
*.qsf linguist-language=Altera Quartus II
*.jic linguist-language=Altera Quartus II
*.ekp linguist-language=Altera Quartus II
